.active {
  color: black;
}

.inactive {
  color: grey;
}

.container {
  margin: 5px;
  padding: 5px;
  text-align: center;
}

i {
  padding-right: 5px;
}

.volume {
  color: grey;
  font-size: 80%;
  position: absolute;
  bottom: 10px;
  right: 50px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
